<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/add-product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="main auth__main">
    <form class="login-form" action="/login" method="post">
      <div class="login-form__heading">
        <h2>Welcome Back!</h2>
        <h3>Login to your account</h3>
      </div>
      <span></span>
      <div class="form-control">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" />
      </div>

      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      <% if(errorMessage) { %>
      <div class="message error-message"><%= errorMessage %></div>
      <% } %>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Login</button>

      <div class="forgot-reset">
        Forgot Password ?
        <a href="/reset" class="reset">Reset Now</a>
      </div>
    </form>

  </main>
  <%- include('../includes/end.ejs') %>